{% extends 'layouts/base.html' %}
{% load formats %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

      <!-- Info component -->
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>
                Async Tasks Manager
              </h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2 px-4">
              
              <p>
                Superusers are able to create/cancel tasks.
                <br />
                Ordinary users can only view execution logs and running tasks (no other interactions are allowed).
              </p>

            </div>
          </div>
        </div>
      </div>
      
      <!-- Task Manager Component -->
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Tasks List</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Script</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Input
                      </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Latest EXEC
                      </th>                    
                      {% if request.user.is_superuser %}
                      <th class="text-center text-secondary opacity-7">Action</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>

                    <!-- Running Task -->
                    {% for task in  tasks %}    
                    {% if task.status == "STARTED" %}
                    <form action="{% url 'cancel-task' task.id %}" method="post">
                    {% else %}
                    <form action="{% url 'run-task' task.name %}" method="post">
                      
                    {% endif %}  

                    
                      {% csrf_token %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-webdev.svg" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">
                              {{task.name}}
                            </h6>
                            <p class="text-xs text-secondary mb-0">
                              Short task info
                            </p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          {{ task.script }}
                        </p>
                        <div class="text-xs text-secondary mb-0" style="width:200px;height:50px;overflow-x: scroll;">
                          {{ task.status }}
                        </div>                          
                      </td>
                      <td class="align-middle text-center text-sm">

                        {% if task.status == "STARTED" %}
                          <span class="badge badge-sm bg-gradient-success">RUNNING</span>
                        {% elif task.status == "FAILURE" %}
                          <span class="badge badge-sm bg-gradient-danger">FINISHED</span>
                        {% elif task.status == "REVOKED" %}
                        <span class="badge badge-sm bg-gradient-secondary">CANCELLED</span>
                        {% else %}
                          <span class="badge badge-sm bg-gradient-secondary">FINISHED</span>                          
                        {% endif %}
                        
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          
                          {% if task.name == 'execute_script' %}

                            <select class="form-control" name="input" 
                            {% if task.status == "STARTED" %}
                            disabled
                            {% endif %}
                            >
                              {% for item in scripts %}
                                <option value="{{item}}" {% if item == task.input %}selected{% endif %}>{{ item }}</option>
                              {% endfor %}
                            </select>
                          
                          {% else %}
                            NA
                          {% endif %}
                          
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          {{task.date_created|date_format}}
                        </span>
                      </td>

                      {% if request.user.is_superuser %}
                      <td class="align-middle text-center">

                        {% if task.status == "STARTED" %}

                          <button href="javascript:;" class="text-danger font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            Cancel Task
                          </button>
                        {% elif task.status == "FAILURE" or task.status == "REVOKED" %}
                            <button href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                              Restart
                            </button>

                        {% else %}
                          <button href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            Restart
                          </button>
                        {% endif %}

                      

                      </td>
                      {% endif %}
                    </tr>
                    </form>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Task Logs -->
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>
                LOGS -> [ django_celery_results_task_result ]
              </h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Task</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Input</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Start TS</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">End TS</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Output</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for result in task_results %}
                      <tr>

                        <td>
                          <div class="d-flex px-2">
                            <div class="my-auto">
                              <h6 class="mb-0 text-sm">{{result.task_name}}</h6>
                            </div>
                          </div>
                        </td>

                        <td class="align-middle">
                          <p class="text-sm mb-0">{{result|get_result_field:"input"}}</p>
                        </td>

                        <td class="align-middle">
                          <p class="text-sm mb-0">{{result.status}}</p>
                        </td>
                        
                        <td class="align-middle">
                          <p class="text-sm text-center mb-0">{{result.date_created|date_format}}</p>
                        </td>
                        
                        <td class="align-middle">
                          <p class="text-sm text-center mb-0">{{result.date_done|date_format}}</p>
                        </td>      
                        
                        <td class="">
                          <p class="text-sm text-center mb-0">{{result|get_result_field:"output"}}</p>
                        </td>                         

                      </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
