{% extends 'layouts/base.html' %}
{% load formats %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

      {% if request.user.is_superuser %}
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Create task</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2 px-4">
              
              <p>
                Here is a POPUP modal form reserved for SuperUsers that creates a new record in TASKS table
              </p>

            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if request.user.is_superuser %}
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Start task</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2 px-4">
              
              <p>
                Here is a POPUP modal form reserved for SuperUsers that starts a new task defined in the TASKS table.
                <br />
                Once started, the users & superusers can check the execution status in "Tasks List" component.
              </p>

            </div>
          </div>
        </div>
      </div>
      {% endif %}      

      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Tasks List</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Script</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Start TS
                      </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        END TS
                      </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        LOGS
                      </th>                      
                      {% if request.user.is_superuser %}
                      <th class="text-center text-secondary opacity-7">Action</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>

                    <!-- Running Task -->
                    {% for task in  tasks %}
                      
                    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-webdev.svg" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">
                              {{task.name}}
                            </h6>
                            <p class="text-xs text-secondary mb-0">
                              Short task info
                            </p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          {{task.script}}
                        </p>
                        <div class="text-xs text-secondary mb-0" style="width:200px;height:50px;overflow-x: scroll;">
                          {% if task.successfull %}
                          Execution OK
                          {% elif task.status == "REVOKED" %}
                          Execution Cancelled
                          {% else %}
                          {{task.result}}
                          
                          {% endif %}
                          
                        </div>                          
                      </td>
                      <td class="align-middle text-center text-sm">
                        {% if task.status == "STARTED" %}
                          <span class="badge badge-sm bg-gradient-success">RUNNING</span>
                        {% elif task.status == "FAILURE" %}
                          <span class="badge badge-sm bg-gradient-danger">FINISHED</span>
                        {% elif task.status == "REVOKED" %}
                        <span class="badge badge-sm bg-gradient-secondary">CANCELLED</span>
                        {% else %}
                          <span class="badge badge-sm bg-gradient-secondary">FINISHED</span>
                          
                        {% endif %}
                        
                        
                        
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          <!-- YY-MM-DD-HH-MM-SS -->
                          {{task.date_created|date_format}}
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          {% if task.status != "STARTED" %}

                            {{task.date_done|date_format}}
                          {% endif %}
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        {% if task.has_result %}
                          {% if task.status == "STARTED" %}
                            <span class="text-secondary text-xs font-weight-bold">
                              View Log
                            </span>
                          {% elif task.status == "FAILURE" or task.status == "REVOKED" %}
                            <span class="text-danger text-xs font-weight-bold">
                              View Log
                            </span>

                          {% else %}
                            <span class="text-success text-xs font-weight-bold">
                              View Log
                            </span>

                            
                          {% endif %}
                        {% endif %}

                      </td>  
                      {% if request.user.is_superuser %}
                      <td class="align-middle text-center">

                        {% if task.status == "STARTED" %}
                        <form action="{% url 'cancel-task' task.id %}" method="post">
                          {% csrf_token %}
                          <button href="javascript:;" class="text-danger font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            Cancel Task
                          </button>
                        </form>
                        {% elif task.status == "FAILURE" or task.status == "REVOKED" %}
                          <form action="{% url 'run-task' task.name %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="script" value="clean-database">
                            <button href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                              Restart
                            </button>
                          </form>

                        {% else %}
                        <form action="{% url 'run-task' task.name %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="script" value="clean-database">
                          <button href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            Restart
                          </button>
                        </form>
                        {% endif %}

                      

                      </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
{% comment %} 
                    <!-- Task finished OK -->
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-webdev.svg" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">
                              Task 2
                            </h6>
                            <p class="text-xs text-secondary mb-0">
                              Short task info
                            </p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          check-disk-free.py
                        </p>
                        <p class="text-xs text-secondary mb-0">
                          Execution OK
                        </p>                        
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-secondary">Finished</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          YY-MM-DD-HH-MM-SS
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          YY-MM-DD-HH-MM-SS
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-success text-xs font-weight-bold">
                          View Log
                        </span>
                      </td>       
                      {% if request.user.is_superuser %}
                      <td class="align-middle text-center">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Restart
                        </a>
                      </td>
                      {% endif %}                                       
                    </tr>

                    <!-- Task finished with ERROR -->
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-webdev.svg" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">
                              Task 3
                            </h6>
                            <p class="text-xs text-secondary mb-0">
                              Short task info
                            </p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          check-db-health.py
                        </p>
                        <p class="text-xs text-secondary mb-0">
                          Error provided by the script
                        </p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-danger">Finished</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          YY-MM-DD-HH-MM-SS
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          YY-MM-DD-HH-MM-SS
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-danger text-xs font-weight-bold">
                          View Log
                        </span>
                      </td>  
                      {% if request.user.is_superuser %}
                      <td class="align-middle text-center">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Restart
                        </a>
                      </td>
                      {% endif %}                         
                    </tr>                    

                    <!-- Task finished OK -->
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ ASSETS_ROOT }}/img/small-logos/logo-webdev.svg" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">
                              Task 2
                            </h6>
                            <p class="text-xs text-secondary mb-0">
                              Short task info
                            </p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          check-disk-free.py
                        </p>
                        <p class="text-xs text-secondary mb-0">
                          Execution Canceled 
                        </p>                        
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-secondary">Canceled</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          YY-MM-DD-HH-MM-SS
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          YY-MM-DD-HH-MM-SS
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          View Log
                        </span>
                      </td>  
                      {% if request.user.is_superuser %}
                      <td class="align-middle text-center">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Restart
                        </a>
                      </td>
                      {% endif %}   
                    </tr>  {% endcomment %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
